<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practica css individual</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Prueba CSS individual</h1>
    <main>
      <article>
        <div><span>Programacion web</span></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor
          volutpat phasellus purus rutrum. Ac lectus sit lectus orci. Nulla sed
          id tristique sed tincidunt tortor lorem id. Velit fames erat gravida
          sit auctor non massa aliquet rhoncus aliquam ornare.
        </p>
        <span>HTML, JAVASCRIPT, NODEJX</span>
      </article>
      <article>
        <div></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor
          volutpat phasellus purus rutrum. Ac lectus sit lectus orci. Nulla sed
          id tristique sed tincidunt tortor lorem id. Velit fames erat gravida
          sit auctor non massa aliquet rhoncus aliquam ornare.
        </p>
        <span>HTML, JAVASCRIPT, NODEJX</span>
      </article>
      <article>
        <div></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor
          volutpat phasellus purus rutrum. Ac lectus sit lectus orci. Nulla sed
          id tristique sed tincidunt tortor lorem id. Velit fames erat gravida
          sit auctor non massa aliquet rhoncus aliquam ornare.
        </p>
        <span>HTML, JAVASCRIPT, NODEJX</span>
      </article>
    </main>
  </body>
</html>
